<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.nanyin.mapper.FundNetValueMapper">
    <select id="findNetValueTrendByDateRange" resultType="com.whu.nanyin.pojo.entity.FundNetValue">
        SELECT
            seq,
            fund_code,
            end_date as endDate,
            unit_net_value as unitNetValue,
            accum_net_value as accumNetValue
        FROM
            fund_net_value
        WHERE
            fund_code IN
            <foreach item="code" collection="fundCodes" open="(" separator="," close=")">
                #{code}
            </foreach>
            AND end_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY
            fund_code ASC,
            end_date ASC
    </select>
</mapper>